@use "sass:color";
$bg: rgb(79,102,252);
$solid_bg: rgb(33, 33, 50);
$fg: rgba(205, 214, 244, 1);
$accent: rgb(180, 190, 254);
$grey: rgb(108, 112, 134);
$radius: 0.8em;
$rounded: 999px;

.all {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    opacity: 0.98;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}

.tooltip {
    border-radius: $rounded;
    background-color: rgba($solid_bg, 1);

    label {
        color: $accent;
        font-weight: bold;
    }
}